.profile {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 120px;
  height: 400px;
  width: 100vw;
  background-color: #87cefa;
  background-image: url("../images/nice-snow.png");
}


.profile div h2 {
  color: white;
}