/* Navigation Bar Styling */
.tweeter {
  font-family: 'Bungee', cursive, sans-serif;
}

nav div {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: red;
}

nav {
  height: 120px;
  width: 100%;
  display: flex;
  background-color: #4056A1;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}
