.new-tweet {
  flex-direction: column;
  display: flex;
  margin: auto;
}


form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

textarea {
  display: flex;
  border: none;
  border-bottom: 5px solid black;
  height: 40px;
  width: 700px;
  background-color: transparent;
}

.bottom-form {
  display: flex;
  margin-top: 0.5em;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive, sans-serif;
  border: none;
}

.counter {
  display: flex;
  margin-left: auto;
}
