form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  margin: auto;
}

textarea {
  display: flex;
  border: none;
  resize: none;
  border-bottom: 5px solid black;
  background-color: transparent;
  height: 1.5em;
}

.bottom-form {
  display: flex;
  margin-top: 0.5em;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive, sans-serif;
  border: none;
}

.counter {
  display: flex;
}

.new-tweet h3 {
  padding: 0.75em 0 0.75em 0;
  margin: 0;
}

.error-message {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 20px 30px;
  margin: 20px;
  color: #cc0033;
  font-weight: bold;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

