#tweets-container {
  display: flex;
  flex-direction: column;
}

.tweet {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border: 2px solid black;
  margin: 1em;
}

.tweet:hover{
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.tweet-header {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.name {
  margin-left: 1em;
}

.handle {
  margin-left: auto;
  color: lightsteelblue;
  font-weight: bold;
}


.tweet-content {
  margin: 1em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
}

.tweet-icons {
  color: navy;
  margin: 1em;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: goldenrod;
}

.date {
  margin: 1em;
}