.tweet-container {
  display: flex;
  margin: 1em;
}

.tweet {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border: 1px solid black;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.avatar {

}


.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
}

.tweet-icons {
  margin: 1em;
}

.date {
  margin: 1em;
}