.tweet-container {
  display: flex;
  margin: 2em;
}

.tweet {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border: 1px solid black;
}

.tweet-header {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.name {
  margin-left: 1em;
}

.handle {
  margin-left: auto;
  color: lightsteelblue;
  font-weight: bold;
}


.tweet-content {
  margin: 1em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid black;
}

.tweet-icons {
  color: navy;
  margin: 1em;
}

.date {
  margin: 1em;
}